# General reviewers per PR
*                       @ksaric @erikd @oneEdoubleD @Jimbo4350

# Specific reviewers for code pieces

doc                          @docs-access
README.*                     @docs-access
.readthedocs.yml             @docs-access